<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<%= markdown @tyler.bio %>
	</div>
	<div class="col-2 homepage_content">
		<h2>Thoughts from my brain</h2>
		<hr>

		<% @posts.each do |post|%>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b, %d") %> | <%= link_to post.user, profile_path(post.user.user_name) %></p>

		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Handcrafted by me</h2>
		<hr>
		<% @projects.each do |project|%>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b, %d") %> | <%= project.user %></p>	
		<% end %>
	</div>	
</div><!--.wrapper-->